.Header {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.Header h1 {
  color: #143b6b;
  font-weight: 800;
}

.logo path {
  fill: #fb534a;
}

/* Basic mobile styling */
@media (max-width: 768px) {
  .Header {
    padding: 15px 10px;
  }

  .Header h1 {
    font-size: 1.5rem;
  }
}
